/.ipynb_checkpoints/*
batchwise-cw-with-et-loss.ipynb
/data/*
/models/*
/figs/*
/inv-based-advs/*
/adversarial_examples/*
foolbox-custom-cw-test.ipynb
FMNIST-model.ipynb
FMNIST-Carlini-Wagner.ipynb
Evaluation.ipynb
carlini-wagner.ipynb

